.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: azure;
  font-weight: 500;
  text-transform: uppercase;
}

.button_main {
  margin-top: 56px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}

.button_submit {
  width: 100%;
  height: 55px;
  color: aliceblue;
  font-size: 16px;
}

.button_mini {
  width: 131px;
  height: 40px;
  border-radius: 5px;
  background-color: red;
}
