@charset "UTF-8";
@-webkit-keyframes heart {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heart {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.promo {
  position: relative;
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../../src/img/bg .png") center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  color: #d0d0d0;
}
.promo__subheader {
  margin-top: 17px;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}
.promo__link a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.homework {
  position: relative;
  min-width: 800px;
  height: 400px;
  background-color: rgb(255, 255, 255);
}
.homework__title {
  position: absolute;
  padding-top: 50px;
  padding-left: 650px;
}
.homework__title h1 {
  margin-left: 100px;
  font-family: "Museo Sans Cyrl-500";
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}
.homework__wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  margin-left: 230px;
}
.homework__icon {
  margin-top: 168px;
  margin-bottom: 235px;
  padding-left: 200px;
}
.homework__icon h4 {
  margin-top: 10px;
  margin-left: -38px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 20px;
  color: black;
}
.homework__icon h4:nth-child(1) {
  margin-left: 18px;
}
.homework__descr {
  margin-top: 10px;
  font-weight: 300;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  margin-left: -80px;
}

.title {
  color: rgb(22, 24, 26);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title h1 {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.title__left {
  color: aliceblue;
  text-align: right;
  font-size: 36px;
}
.title_center {
  margin-left: -190px;
  color: rgb(33, 94, 155);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url(../../src/img/bgtw.png) center center/cover no-repeat;
}
.consultation__descr {
  color: aliceblue;
  font-family: "Museo Sans Cyrl-500";
  font-size: 20px;
  font-weight: 500;
}
.consultation .error {
  border: 1px solid black;
}
.consultation label.error {
  color: #d0d0d0;
  margin-bottom: 10px;
  border: none;
  text-align: center;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-form_mb-25 {
  margin-top: 25px;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}
.carousel .prev, .carousel .next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}
.carousel .prev img, .carousel .next img {
  width: 31px;
  height: 50px;
}
.carousel .next {
  right: -66px;
  left: auto;
}
.carousel .tns-item img {
  display: block;
  margin: 0 auto;
}
.carousel .tns-nav button {
  background: red;
}
.carousel .tns-nav .tns-nav-active {
  background-color: blue;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px red;
          box-shadow: 3px 3px 20px red;
  border: none;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: red;
  border: none;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.catalog-item__descr {
  margin-top: 16px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.catalog-item__link {
  display: block;
  margin-top: 17px;
  color: red;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}
.catalog-item__link:hover {
  color: red;
}
.catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-right: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__list li {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.catalog-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  left: -14px;
  top: 7px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
          transform: translateX(calc(-50% - 19px));
  display: block;
  color: red;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.catalog-item__back:hover {
  color: red;
}

.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  margin-left: 700px;
  top: 0;
  width: 460px;
  height: 270px;
  background-color: rgba(211, 15, 15, 0.9725490196);
  opacity: 0.8;
  padding: 50px 68px 60px 68px;
}
.footer__addr {
  margin-bottom: 36px;
  color: rgb(250, 209, 209);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.footer__phone {
  display: block;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.footer__phone:hover {
  color: #fff;
}
.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 14px;
}
.footer__social-item img {
  height: 27px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(12, 4, 4, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  height: 500px;
  background-color: #e8e8e8;
  padding: 38px 40px 40px 40px;
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0px;
  line-height: 21px;
  font-size: 41px;
  color: rgb(212, 14, 14);
  cursor: pointer;
}
.modal__subtitle {
  color: #050505;
  font-weight: 800;
  font-size: 15px;
  padding-bottom: 20px;
  text-align: center;
}
.modal__descr {
  color: #050505;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.modal_slow {
  height: 140px;
}
.modal .error {
  border: 1px solid black;
}
.modal label.error {
  margin-bottom: 10px;
  text-align: center;
  border: none;
}

#consultation, #order, #thanks {
  display: none;
}

.tic {
  min-height: 1200px;
  margin: 70px 515px 50px 488px;
  margin-bottom: 40px;
}

.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  margin-top: 50px;
  margin-bottom: 70px;
  min-height: 400;
}
.personal__subtitle {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  color: #050505;
  font-weight: 800;
  font-size: 18px;
  padding-bottom: 20px;
  text-align: center;
}
.personal__description {
  -webkit-transform: translateX(-19.4%);
          transform: translateX(-19.4%);
  margin-top: 50px;
  color: #0d0d0d;
  font-size: 17px;
  font-weight: 500;
}
.personal__descr {
  -webkit-transform: translateX(-16%);
          transform: translateX(-16%);
  margin-top: 50px;
  color: #0d0d0d;
  font-size: 17px;
  font-weight: 500;
}

.container__beg {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.title__read {
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
  display: block;
  color: rgb(22, 24, 26);
  font-size: 30px;
  font-weight: 700;
  right: 49%;
  text-transform: uppercase;
  top: -70px;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}
.pageup img {
  width: 100%;
}

.homework__icon_animated {
  -webkit-animation: heart 1.5s ease infinite;
          animation: heart 1.5s ease infinite;
  -webkit-animation-name: heart;
          animation-name: heart;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.homework__icon_animated:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.homework__subtitle-new {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  text-align: center;
}

.iframe {
  width: 100%;
}

.title_ges {
  margin-top: 15px;
  text-align: center;
}

/* Стили самой формы */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* делаем колонки в ряд */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* выравниваем по центру */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* колонки растянутся на всю ширину */
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

/* Стили левой колонки */
.left-side {
  width: 25%; /* занимает 25% общей ширины */
  height: 100%; /* растягиваем на всю высоту */
  position: relative; /* позиционирование относительное (для ::before) */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* внутри элементы располагаем в колонку */
}

/* Стили разделительной линии между левой и правой колонкой */
.left-side::before {
  content: ""; /* контент нам не нужен */
  position: absolute; /* позиционируем относительно .left-side */
  height: 70%; /* высота 70% от .left-side */
  width: 2px; /* ширина 2px */
  background: #afafb6;
  right: -15px; /* позиционируем справа + отступ 15px (справа) */
  top: 50%; /* выравниваем по центру */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); /* выравниваем по центру */
}

/* Стили правой колонки */
.right-side {
  width: 75%; /* занимает 75% общей ширины */
  margin-left: 75px;
}

/* Элементы левой колонки: адрес, телефон, email */
.details {
  margin-bottom: 15px;
  text-align: center;
}

/* Общие стили для иконок */
.details i {
  font-size: 25px; /* задаем размер */
  color: #3e2093; /* задаем цвет */
  margin-bottom: 10px;
}

/* Стили для заголовков левой колонки */
.topic {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px; /* отступ снизу 7px */
}

/* Стили для текста левой колонки */
.text-one,
.text-two {
  font-size: 14px;
  color: #afafb6;
}

/* Заголовок правой колонки */
.topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin-bottom: 10px;
}

/* Текст правой колонки */
.right-side p {
  margin-bottom: 20px;
}

/* Контейнер для input'ов формы */
.input-box {
  height: 50px; /* по сути задаем высоту input'а */
  width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
  margin-bottom: 20px; /* отступаем снизу 20px */
}

/* Стили для input и textarea (поле сообщение) */
.input-box input,
.input-box textarea {
  height: 100%; /* растягиваем на всю высоту контейнера 50px */
  width: 100%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: #f0f1f8; /* задаем цвет фона */
  padding: 0 20px; /* отступ справа и слева 20px */
}

/* Отдельно стилизуем поле сообщение */
.input-box textarea {
  resize: none; /* чтобы нельзя было менять высоту */
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

/* Это контейнер для поля сообщение */
.message-box {
  min-height: 110px; /* минимальная высота 110px */
}

/* Стили для контейнера кнопки */
.button {
  display: inline-block; /* делаем блочно-строчный элемент */
}

/* Стили для самой кнопки */
.button input[type=button] {
  color: #fff;
  font-size: 18px;
  background: #3e2093;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  -webkit-transition: 0.2s;
  transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
}

/* Меняем цвет фона при наведении на кнопку */
.button input[type=button]:hover {
  background: rgb(0, 0, 207);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
}
.header__phone {
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__contacts button {
  color: #ffffff;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  width: 150px;
  font-size: 12px;
  border: 2px solid white;
  height: 45px;
  border-radius: 4%;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: azure;
  font-weight: 500;
  text-transform: uppercase;
}
.button_main {
  margin-top: 56px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}
.button_submit {
  width: 100%;
  height: 55px;
  color: aliceblue;
  font-size: 16px;
}
.button_mini {
  width: 131px;
  height: 40px;
  border-radius: 5px;
  background-color: red;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}/*# sourceMappingURL=style.css.map */